web/
/sessions/*
/data/programs.json
/data/sd.json
/data/log.json
/data/snames.txt
/data/levels.json
/data/weather_adj.json
/data/auto_settings.json
/data/wx_settings.json
/data/zone_settings.json
*.pyc
*.csv
/python
